body {
    background-color: black;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

div.canva {
    position: relative;
    border: 2px solid white;
    height: auto;
    display: grid;
    gap: 0;
    z-index: 900;
}

div.wrapper {
    border: 0px solid red; /* Borda de teste */
    margin: 0;
    padding: 0;
}

div.rodapé {
    border-top: 5px double black;
    position: absolute;
    width: 100%;
    margin: 0;
    right: 0;
    background-color: white;
}

h1.titulo {
    color: white;
    text-align: center;
}

canvas {
    border: 1px solid white;
    height: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    height: 40px;
    width: 150px;
    margin-bottom: 10px;
    margin-right: calc(50% - 72.5px);
    margin-left: calc(50% - 72.5px);
    padding: 2px;
    color: goldenrod;
    border: 2px solid goldenrod;
    background-color: red;
    border-radius: 3px;
    margin-top: 2px;
}

button:hover {
    color: turquoise;
    border: 2px solid turquoise;
    background-color: aliceblue;
}

button:active {
    color: aliceblue;
    background-color: turquoise;
}

button.buttonCanvas {
    height: 40px;
    margin-bottom: 10px;
    background-image: linear-gradient(40deg, red, crimson, darkRed);
    border: 0;
    border-radius: 3px;
    margin-top: 2px;
}

button.buttonCanvas:hover {
    background-image: linear-gradient(40deg, deepSkyBlue, blue, darkBlue);
}

button.buttonCanvas:active {
    background-image: linear-gradient(40deg, green, forestGreen, darkGreen);
}

p.parado {
    position: absolute;
    padding: 0;
    margin: 0;
    color: black;
    z-index: 850;
}

p.voando {
    color: white;
    animation: 500ms voar infinite;
}

@keyframes voar {
    from {
        padding-left: 0%;
    }
    to {
        padding-left: 98%;
    }
}