body {
    background-color: black;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

button {
    height: 40px;
    width: 150px;
    margin-right: calc(50% - 72.5px);
    margin-left: calc(50% - 72.5px);
    padding: 2px;
    color: goldenrod;
    border: 2px solid goldenrod;
    background-color: gray;
    border-radius: 3px;
    margin-top: 2px;
}

button:hover {
    color: turquoise;
    border: 2px solid turquoise;
    background-color: aliceblue;
}

button:active {
    color: aliceblue;
    background-color: turquoise;
}

p.parado {
    padding: 0;
    margin: 0;
    color: black;
    z-index: 850;
}

p.voando {
    color: white;
    animation: 500ms voar infinite;
}

@keyframes voar {
    from {
        padding-left: 0%;
    }
    to {
        padding-left: 100%;
    }
}