* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-image: url("https://s2.glbimg.com/smbJLb6Jt92GrMIDOFacclQ7K0o=/s.glbimg.com/jo/g1/f/original/2015/05/11/poli1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    object-position: center;
    margin-top: 20vh;
    margin-bottom: 50vh;
    margin-left: 80vh;
    margin-right: 80vh;
    padding: 25px;
    gap: 10px;
    border-radius: 35px;
    animation: diver 1s;
}

@keyframes diver {
    
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

img {
    height: 150px;
    width: 250px;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    text-align: center;
}

button {
    border-radius: 5px;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(85, 116, 166);
    color: white;
}
button:hover {
    color: black;
}

button:active {
    background-color: red;
    color: black;
}