body{
    background-color:#23567d
}
h1{
    text-align: center;
    color: red
}
#cabecario{
    text-align: left;
    background-color: white;
    height: auto;
    border-color: black;
    border-width: thick;
    position: relative;
    top: 68px;
}
img{
    position: absolute;
    width: 200px;
    font-size: medium;
}
#materias{
    text-align: left;
    color: black;
    position: relative;
    top: 60px;
    background-color: rgb(253, 197, 28);
}
.assuntos{
    background-color: rebeccapurple;
}